.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    text-align: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin-top: 10px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  
  .title {
    font-weight: 700;
  }
  
  .detail {
    color: rgba(0, 0, 0, 0.54);
  }
  
  .price {
    color: rgba(0, 0, 255, 100);
    font-weight: 700;
  }
  