<div>
    <h5>Pedidos aguardando fechamento da conta</h5>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Status</th>
          <th scope="col">Mesa</th>
          <th scope="col">Itens</th>
          <th scope="col">Valor Total</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of pedidosContaSolicitada">
          <td>{{ item.idPedido }}</td>
          <td>{{ item.status }}</td>
          <td>{{ item.idMesa }}</td>
          <td>
            <table class="table">
              <tbody>
                <tr *ngFor="let i of item.itensPedido">
                  <td>{{ i.quantidade }}</td>
                  <td>{{ i.titulo }}</td>
                  <td>{{ i.observacao }}</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td>{{ item.idMesa }}</td>
          <td><button (click)="fecharConta(item.idPedido)">Fechar conta</button></td>
        </tr>
      </tbody>
    </table>
  </div>