<div class="alert alert-success" *ngIf="pedidoEnviado" role="alert">
    O pedido foi enviado para a cozinha!
</div>

<div class="alert alert-danger" role="alert" *ngIf="mesaComPedidoAnterior">
    Já existe um pedido atrelado a esta mesa!
</div>

<list-card-menu [typeSelected]="type" (itensSelecionados)="recuperaItensSelecionados($event)"></list-card-menu>

<button type="button" [disabled]="enviaPedidoDesabilitado" 
class="btn btn-secondary" (click)="enviaPedido()">{{ nomeBotao }}</button>
<button type="button" [disabled]="!pedidoEnviado" class="btn btn-secondary"
(click)="solicitaConta()">Solicitar a conta</button>