<div class="alert alert-success texto-centralizado" *ngIf="pedidoEnviado" role="alert">
    O pedido foi enviado para a cozinha!
</div>

<div class="alert alert-success texto-centralizado" *ngIf="contaSolicitada" role="alert">
    Conta solicitada!
</div>

<div class="alert alert-danger texto-centralizado" role="alert" *ngIf="mesaComPedidoAnterior">
    Já existe um pedido atrelado a esta mesa!
</div>

<div class="alert alert-danger texto-centralizado" role="alert" *ngIf="quantidadeInvalida">
    Quantidade inválida!
</div>

<div class="alert alert-danger texto-centralizado" role="alert" *ngIf="mesaInvalida">
    Mesa inválida!
</div>

<list-card-menu [mesa]="mesa" [typeSelected]="type" [pedidoEnviado]="pedidoEnviado || mesaComPedidoAnterior" (itensSelecionados)="recuperaItensSelecionados($event)"></list-card-menu>

<div class="botoes">
    <button type="button" [disabled]="enviaPedidoDesabilitado" 
    class="btn btn-secondary" (click)="enviaPedido()">{{ nomeBotao }}</button>
    <button type="button" [disabled]="!pedidoEnviado" class="btn btn-secondary"
    (click)="solicitaConta()">Solicitar a conta</button>
</div>