<ul class="nav justify-content-center">
  <li class="nav-item">
    <a
      class="nav-link"
      aria-current="page"
      [routerLink]="['/menu']"
      routerLinkActive="active"
      [queryParams]="{ type: 1, table: mesa }"
      >Refeição</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLink]="['/menu']"
      routerLinkActive="active"
      [queryParams]="{ type: 2, table: mesa }"
      >Bebida</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLink]="['/menu']"
      routerLinkActive="active"
      [queryParams]="{ type: 3, table: mesa }"
      >Doces</a
    >
  </li>
  <li class="nav-item" id="login">
    <a class="nav-link" (click)="signIn()" routerLinkActive="active">Login</a>
  </li>
  <li class="nav-item" id="logout">
    <a class="nav-link" (click)="signOut()">Sair</a>
  </li>
</ul>
