<div>
  <ul class="list-group">
    <li *ngFor="let item of dataFiltered" class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" [(ngModel)]="item.checked" id="check" name="check"
      (change)="mudouSelecao($event)">
      <label for="check" class="check">Selecionar Item</label>
      <div class="item-lista">
        {{ item.titulo }}
        <label class="detail">{{ item.detalhe }}</label>
        <label class="price">{{ item.preco }}</label>
      </div>
      <div class="item-obs" *ngIf="item.checked">
        <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="item.observacao" (ngModelChange)="atualizarInfo()" rows="2" placeholder="Observação"></textarea>
        <input type="number" class="form-control" [(ngModel)]="item.quantidade" placeholder="Quantidade" (ngModelChange)="atualizarInfo()">
      </div>
    </li>
  </ul>
</div>